.contact-box {
    background-color: #f8f8f8;
    border: 2px solid #444;
    border-radius: 10px;
    width: 400px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: left;
}


.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-box button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-box button:hover {
    background-color: #666;
}
.p{ text-align: center;
    font-size: 30px;
    color: #309ef1; }
.p img { display: block;
    margin: 0 auto;}